{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'navbar.html' %}

<style>
.gradient-custom {
    /* fallback for old browsers */
    background: #14bdff;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 0, 255))
    }
</style>

<section class="vh-120 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                
                <h2 class="fw-bold mb-2">Edit Item</h2>
                <p class="text-white-50 mb-5">You can freely edit item in this inventory!</p>
                
                <form method="POST" action="#">
                    {% csrf_token %}
                        <div class="form-outline form-white mb-4">
                            <input type="text" name="name" class="form-control form-control-lg" maxlength="255" required id="id_name" value="{{form.instance.name}}"/>
                            <label class="form-label" for="id_name">Name</label>
                            </div>
        
                        <div class="form-outline form-white mb-4">
                            <input type="number" name="amount" id="id_amount" class="form-control form-control-lg" required value="{{form.instance.amount}}"/>
                            <label class="form-label" for="id_amount">Amount</label>
                            </div>
                        
                        <div class="form-outline form-white mb-4">
                            <textarea name="description" cols="20" rows="10" required="" id="id_description" data-gramm="false" wt-ignore-input="true" class="form-control form-control-lg">{{form.instance.description}}</textarea>
                            <label class="form-label" for="id_description">Description</label>
                            </div>
                        
                        <div class="form-outline form-white mb-4">
                            <textarea name="category" cols="40" rows="10" required="" id="id_category" data-gramm="false" wt-ignore-input="true" class="form-control form-control-lg">{{form.instance.category}}</textarea>
                            <label class="form-label" for="id_category">Category</label>
                            </div>
                        
                        <div class="form-outline form-white mb-4">
                            <input type="number" name="power" id="id_power" class="form-control form-control-lg" required value="{{form.instance.power}}"/>
                            <label class="form-label" for="id_power">Power</label>
                            </div>
        
                        <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Edit Item"/>
                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}