{% extends 'base.html' %}

{% block content %}

<style>
    html * {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    table, td, th {
      border: 2px solid black;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    td {
      text-align: center;
      padding: 5px;
      background-color: rgb(255, 199, 144);
    }
    th {
      text-align: center;
      padding: 5px;
      background-color: rgb(126, 167, 255);
    }
    body {
        background-color: rgb(255, 255, 255);
    }
    </style>

    <h1 style="color: rgb(0, 17, 255);">RAF Inventory</h1> <hr>

    <h5>Application name:</h5>
    <p>{{ application_name }}</p>

    <h5>Name:</h5>
    <p>{{ name }}</p>

    <h5>Class:</h5>
    <p>{{ class }}</p>

<table>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Category</th>
        <th>Power</th>
        <th></th>
    </tr>

    {% comment %} Below is how to show the item data {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.description}}</td>
            <td>{{item.category}}</td>
            <td>{{item.power}}</td>
            <td>
                <a href="delete/{{item.id}}">
                    <button style="background-color: rgb(126, 167, 255);">
                        Remove
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

<br />
<p>You have inserted {{ data_count }} items in this app</p>

<a href="{% url 'main:create_item' %}">
    <button style="background-color: rgb(126, 167, 255);">
        Add New Item
    </button>
</a>

<a href="{% url 'main:logout' %}">
    <button style="background-color: rgb(126, 167, 255);">
        Logout
    </button>
</a>



<h5>Last login session: {{ last_login }}</h5>

{% endblock content %}