{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    html * {
        font-family: 'Poppins', sans-serif;
    }
    table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto; 
    }

    td, th {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: rgb(206, 221, 255);
    }

    th {
    background-color: rgb(75, 132, 255);
    }

    body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-align: center;
    }

    h1, h5, p {
    padding-left: 20px;
    margin: 10px 0; /* Berikan margin atas dan bawah yang lebih besar pada elemen-elemen ini */
    text-align: left;
    }
    </style>
    <h1 style="color: rgb(0, 81, 255);">RAF Inventory</h1> <hr>

    <h5>Account:</h5>
    <p>{{ name }}</p>

    <h5 style="text-align: center;">Inventory</h5>

<table>
    <tr style="border: 2px solid black;">
        <th style="border: none;">Name</th>
        <th style="border: none;">Amount</th>
        <th style="border: none;">Description</th>
        <th style="border: none;">Category</th>
        <th style="border: none;">Power</th>
        <th style="border: none;"></th>
        <th style="border: none;"></th>
    </tr>

    {% comment %} Below is how to show the item data {% endcomment %}

    {% for item in items %}
        <tr>
            <td>{{item.name}}</td>
            <td>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <a style="text-decoration: none; color: black;" href="decrement/{{item.id}}">-</a>
                            {{ item.amount }}
                    <a style="text-decoration: none; color: black;" href="increment/{{item.id}}">+</a>
                </div>
                </td>
            <td>{{item.description}}</td>
            <td>{{item.category}}</td>
            <td>{{item.power}}</td>
            <td>
                <a href="delete/{{item.id}}">
                    <button style="background-color: rgb(126, 167, 255);">
                        Remove
                    </button>
                </a>
            </td>
            <td>
                <a href="{% url 'main:edit' item.pk %}">
                    <button style="background-color: rgb(126, 167, 255);">
                        Edit
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>


<br />
<p style="text-align: center;">You have inserted {{ data_count }} items in this app</p>

<a href="{% url 'main:create_item' %}">
    <button style="background-color: rgb(126, 167, 255);">
        Create Item
    </button>
</a>

<p>Last login session: {{ last_login }}</p>
{% endblock content %}